bcrypt==3.1.7
Flask==1.1.2
Flask-Ext==0.1
Flask-JSON==0.3.4
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-MySQL==1.5.1
Flask-MySQLdb==0.2.0
Flask-Resize==2.0.4
gunicorn==20.0.4
importlib-metadata==1.7.0
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
jdcal==1.4.1
jedi==0.17.1
Jinja2==2.11.2
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.1.2
mysql==0.0.2
mysql-connector==2.2.9
mysqlclient==1.4.6
numpy==1.19.5
pandas==1.0.5
parso==0.7.0
patsy==0.5.1
PyMySQL==0.9.3
pyparsing==2.4.6
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.13.0
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
regex==2020.6.8
requests==2.24.0
seaborn==0.10.1
selenium==3.141.0
sklearn==0.0
sqlparse==0.3.1
virtualenv==20.0.25
Werkzeug==1.0.1

